{% extends "homepage.html" %}
{% block content %}
<div class="page-content">
    <div class="mdl-grid">
    {% for book in books %}
    <div class="demo-card-wide mdl-card mdl-shadow--8dp">

        <div class="mdl-card__title" title="{{book.name}}" class="book-cover">
            <a href="{{url_for('bookInfo', categories=book.categories, books_id=book.id)}}">
                <img src="{{book.cover}}" alt="Book Cover" style="width:165px;height:245px;"/>
            </a>
        </div>

    </div>
    {% else %}
    <span align="center" class="no-book-msg">{{error}}</span>
{% endfor %}
</div>
{% endblock %}
